<ion-view title='<img title="Juvo Home" class="home-header-image" src="../img/juvoTextSm.png" />'>
  <ion-content>
    <ion-list>
      <div ng-repeat="member in members track by member.id">
        <ion-item class="item-avatar item-icon-right" type="item-text-wrap" ng-click="toggleActive(member.id)" ng-class="{active: activeMembers[member.id]}">
          <img ng-src="img/avatar-icons/0014.png">
          <p class="homename">{{member.firstName}}</p>
          <i class="icon icon-accessory" ng-class="activeMembers[member.id] ? 'ion-chevron-up' : 'ion-chevron-down'"></i>
        </ion-item>
        <ion-item class="item-accordian" ng-repeat="item in taskTypes" ng-show="activeMembers[member.id]">
          {{ item.label }} - /users/{{ member.id }}/tasks/{{ item.value }}
        </ion-item>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
