<ion-view name="editUsers" view-title="Edit Users">
  <ion-content>
    <div ng-controller="accordCtrl">
      <ion-list>
        <ion-item>
          Typically you'll come here and be able to edit and create new users to your family. Hooray!
        </ion-item>
      </ion-list>

    </div>
  </ion-content>
  <ion-footer-bar style="padding-bottom:15%;" ng-controller="SettingsModalCtrl">
    <button class="button button-full button-balanced" ng-click="openModal()">Add User</button>
  </ion-footer-bar>
</ion-view>
