<ion-view name="settings" view-title="Settings">
  <ion-content>
    <ion-list style="padding-top:100px;">
    <ion-toggle  ng-model="settings.newUser">
        Create User
    </ion-toggle>
    <ion-toggle  ng-model="settings.switch">
        Switch Account
    </ion-toggle>
    <ion-toggle  ng-model="settings.userSettings">
        User Settings
    </ion-toggle>
    <ion-toggle  ng-model="settings.help">
        Help
    </ion-toggle>
    <ion-toggle  ng-model="settings.termAndCond">
        Terms and Conditions
    </ion-toggle>
    </ion-list>
  </ion-content>
  <ion-footer-bar style="padding-bottom:20%;">
    <button class="button button-full button-balanced" ng-click="logout()" ui-sref="login">Logout</button>
  </ion-footer-bar>
</ion-view>
<!-- <ion-view name="settings">
  <ion-content>

    <div class="">
      <h2>Settings page</h2>
    </div>

  </ion-content>
</ion-view> -->
