<ion-view name="settings" view-title="Account Settings">
  <ion-content>
    <ion-list style="padding-top:100px;">
    <ion-toggle  ng-model="settings.enableFriends">
        Enable Friends
    </ion-toggle>
    </ion-list>
    <button class="button button-full button-balanced" ng-click="logout()" ui-sref="login">Logout</button>
  </ion-content>
</ion-view>
<!-- <ion-view name="settings">
  <ion-content>

    <div class="">
      <h2>Settings page</h2>
    </div>

  </ion-content>
</ion-view> -->
