<ion-view name="settings" view-title="Settings">
  <ion-content>
    <ion-list style="padding-top:100px;">
      <a ui-sref="tab.settings.editUsers">
        <div class="item item-button-right">
          Edit Users
          <button class="button button-clear">
            <i class="icon ion-chevron-right"></i>
          </button>
        </div>
      </a>
      <!-- <a ui-sref="tab.settings.personalSettings">
        <div class="item item-button-right">
          Switch Account
          <button class="button button-clear">
            <i class="icon ion-chevron-right"></i>
          </button>
        </div>
      </a> -->
      <a ui-sref="tab.settings.personalSettings">
        <div class="item item-button-right">
          Personal Settings
          <button class="button button-clear">
            <i class="icon ion-chevron-right"></i>
          </button>
        </div>
      </a>
      <a ui-sref="tab.settings.notifications">
        <div class="item item-button-right">
          Notifications
          <button class="button button-clear">
            <i class="icon ion-chevron-right"></i>
          </button>
        </div>
      </a>
      <!-- <a ui-sref="tab.settings.termsAndCond">
        <div class="item item-button-right">
          Terms and Conditions
          <button class="button button-clear">
            <i class="icon ion-chevron-right"></i>
          </button>
        </div>
      </a>
      <a ui-sref="tab.settings.help">
        <div class="item item-button-right">
          Help
          <button class="button button-clear">
            <i class="icon ion-chevron-right"></i>
          </button>
        </div>
      </a> -->
    </ion-list>
  </ion-content>
  <ion-footer-bar style="padding-bottom:15%;" ng-controller="LogoutCtrl">
    <button class="button button-full button-balanced" ng-click="openModal()">Logout</button>
  </ion-footer-bar>
</ion-view>
<!-- <ion-view name="settings">
  <ion-content>

    <div class="">
      <h2>Settings page</h2>
    </div>

  </ion-content>
</ion-view> -->
