<ion-modal-view>
  <ion-content>
    <ion-header-bar>
      <h1 class="title">User Invite</h1>
      <div class="button button-clear" ng-click="modal.hide()"><i class="icon ion-close"></i></div>
    </ion-header-bar>
    <div class="list modal-header">
      <ion-item>
        <label class="item item-input">
          <input type="email" placeholder="john.smith@email.com" ng-model="inviteForm.email">
        </label>
      </ion-item>

      <button class="button button-full button-balanced" ng-click="sendInvite(inviteForm.email)">Send Invite!</button>
    </div>
  </ion-content>
</ion-modal-view>
