<ion-view view-title="Notification Settings">
<ion-content>
  <div class="list">
    <div class="item item-divider">
      Name
    </div>
    <ion-item>
      <label class="item item-input">
        <textarea id="new-user-name" placeholder="description"></textarea>
      </label>
    </ion-item>
    <div class="item item-divider">
      Select Job
    </div>
    <ion-item class="item-input item-select">
      <div class="input-label"></div>
      <select>
        <option ng-repeat="job in chores.jobs">{{job}}</option>
      </select>
    </ion-item>
    <div class="item item-divider">
      Select Room
    </div>
    <ion-item class="item-input item-select">
      <div class="input-label"></div>
      <select>
        <option ng-repeat="room in chores.rooms">{{room}}</option>
      </select>
    </ion-item>
    <div class="item item-divider">
      Schedule
    </div>
    <div class="button-bar">
      <a ng-repeat="day in chores.days" class="button button-primary" ng-model="buttonDay" ng-click="buttonDay.clicked=!buttonDay.clicked" ng-class="buttonDay.clicked?'button-balanced':'button-stable'">{{day}}</a>
    </div>
  </div>
</ion-content>
</ion-view>
