<ion-view view-title="Notifications">
  <ion-content>
    <ion-list show-delete="false" can-swipe="true">
      <ion-item class="">
        <img style="float:left;padding:0 8px 0 0;height:40px;" ng-src="img/avatar-icons/horse.png" src="img/avatar-icons/horse.png">
        <h2>Haley completed "Sweep the Kitchen"</h2>
        <h4 style="color:#aaa;">2 hours ago</h4>
        <ion-option-button class="button-balanced icon ion-checkmark-round"></ion-option-button>
        <ion-option-button class="button-assertive icon ion-trash-a"></ion-option-button>
      </ion-item>
      <ion-item>
        <img style="float:left;padding:0 8px 0 0;height:40px;" ng-src="img/avatar-icons/dog.png" src="img/avatar-icons/dog.png">
        <h2>Jack completed "Math : Section 4-7"</h2>
        <h4 style="color:#aaa;">3 hours ago</h4>
        <ion-option-button class="button-balanced icon ion-checkmark-round"></ion-option-button>
        <ion-option-button class="button-assertive icon ion-trash-a"></ion-option-button>
      </ion-item>
      <ion-item>
        <img style="float:left;padding:0 8px 0 0;height:40px;" ng-src="img/avatar-icons/dog.png" src="img/avatar-icons/dog.png">
        <h2>Jack requested "Milk"</h2>
        <h4 style="color:#aaa;">4 hours ago</h4>
        <ion-option-button class="button-balanced icon ion-checkmark-round"></ion-option-button>
        <ion-option-button class="button-assertive icon ion-trash-a"></ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
  <!-- <div class="float-button" ng-controller="CreateChoresCtrl">
    <span class="height-fix">
        <a class="content" ng-click="openModal()">
          <i class="ion-plus-circled custom-icon"> </i>
        </a>
      </span>
  </div> -->
</ion-view>
