<ion-view view-title="Notifications">
  <ion-content>
    <ion-list show-delete="false" can-swipe="true">
      <ion-item >
        Item 1
        <ion-option-button class="button-balanced icon ion-checkmark-round"></ion-option-button>
        <ion-option-button class="button-assertive icon ion-trash-a"></ion-option-button>
      </ion-item>
      <ion-item>
        Item 2
        <ion-option-button class="button-balanced icon ion-checkmark-round"></ion-option-button>
        <ion-option-button class="button-assertive icon ion-trash-a"></ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
  <!-- <div class="float-button" ng-controller="CreateChoresCtrl">
    <span class="height-fix">
        <a class="content" ng-click="openModal()">
          <i class="ion-plus-circled custom-icon"> </i>
        </a>
      </span>
  </div> -->
</ion-view>
