<ion-view name="homeworkAssignment" view-title="Homework for {{group.name}}">
  <ion-content>
    <div ng-controller="accordCtrl">
      <ion-list>
        <ion-item class="item-avatar item-icon-right" type="item-text-wrap">
          <div>
            <img ng-src="img/avatar-icons/elephant.png">
            <p class="homename">Homework for Selected Kid</p>
          </div>
        </ion-item>
        <ion-item>
          <div class="boxed"></div>
          <p>No Idea why This had Hate</p>
        </ion-item>
        <ion-item>
          <div class="boxed"></div>
          <p>Why do we have strange Machines?</p>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
