<ion-view name="homeworkAssignment" view-title="Homework for {{group.name}}">
  <ion-content>
    <div ng-controller="accordCtrl">
      <ion-list>
        <div>
          <ion-item class="item-avatar item-icon-right" type="item-text-wrap"
                    >
                    <img ng-src="img/avatar-icons/elephant.png">
                    <p class="homename">Homework for Selected Kid</p>
        </div>
          </ion-item>

      <ion-item>

          <div class="list">

            <div class="item item-divider">
              Overdue
            </div>


              <div class="boxed">
                <p>OCT 12</p>
              </div>

        </div>
      </ion-item>








  </ion-content>
</ion-view>
