<ion-view name="childsHomework" view-title="Haley's Homework">
  <ion-content>
    <div>
      <ion-list>
        <div ng-repeat="group in groups">
          <ion-item class="item-avatar item-icon-right" style="padding-left:30px;" type="item-text-wrap" ng-click="toggleGroup(group)" ng-class="{active: isGroupShown(group)}">
              <p class="homename">{{group}}</p>
              <i class="icon icon-accessory" ng-class="isGroupShown(group) ? 'ion-chevron-up' : 'ion-chevron-down'"></i>
          </ion-item>
          <a ui-sref="tab.homework.view"  ng-repeat="assignment in homework.group">
            <ion-item style="padding-left:40px;" class="item-avatar item-accordion item-icon-right" ng-show="isGroupShown(group)">
              <div class="circle past"><p>Mar</p><p>11</p></div>
              <h2 class="hw-assign">{{assignment}}</h2>
              <i class="icon icon-accessory ion-chevron-right"></i>
            </ion-item>
          </a>
        </div>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
