
<ion-nav-view view-title="homeworkCreate">
  <ion-content class="padding">
    <div>
      <h2>Create Homework Assignment</h2>
    </div>
    <!-- <ion-list>



      <div ng-repeat="group in groups">
        <ion-item class="item-avatar item-icon-right" type="item-text-wrap"
                  ng-click="toggleGroup(group)"
                  ng-class="{active: isGroupShown(group)}">

                  <img ng-src="img/avatar-icons/Bird.png">
                  <p class="homename">{{group.name}}</p>
                  <i class="icon icon-accessory" ng-class="isGroupShown(group) ? 'ion-chevron-up' : 'ion-chevron-down'"></i>

        </ion-item>
        <ion-item class="item-accordion"
                  ng-repeat="item in group.items"
                  ng-show="isGroupShown(group)">
        <a href="homework-create.html">  {{item}}</a>

        </ion-item>
      </div>
    </ion-list> -->

  </ion-content>
</ion-nav-view>
