<ion-view name="homeworkCreate" view-title="Create Homework">
  <ion-content>

    <div class="list">

      <div class="item item-divider">
        People
      </div>

      <ion-checkbox class="checkbox-balanced">Karen</ion-checkbox>
      <ion-checkbox class="checkbox-balanced">Timothy</ion-checkbox>
      <ion-checkbox class="checkbox-balanced">Samantha</ion-checkbox>

      <div class="item item-divider">
        Select Subject
      </div>

      <ion-item class="item-input item-select">
        <div class="input-label">
        </div>
        <select>
          <option selected>Option 1</option>
          <option>Option 2</option>
        </select>
      </ion-item>

      <div class="item item-divider">
        Due Date
      </div>

      <ion-item>
        <input type="date">
      </ion-item>

      <div class="item item-divider">
        Description
      </div>

      <ion-item>
        <label class="item item-input">
        <textarea placeholder="description">
        </textarea>
      </label>
        </ion-item>

    </div>


  </ion-content>
</ion-view>
