<ion-modal-view>
  <ion-content>
    <ion-header-bar>
      <h1 class="title">New Homework Assignment</h1>
      <div class="button button-clear" ng-click="modal.hide()"><i class="icon ion-close"></i></div>
    </ion-header-bar>
    <div class="list" style="padding-top:40px;">
      <div class="item item-divider">
        People
      </div>
        <ion-checkbox ng-repeat="child in homework.children" class="checkbox-balanced">{{child}}</ion-checkbox>
      <div class="item item-divider">
        Assignment Title
      </div>
      <ion-item class="item-input">
        <input type="text" placeholder="Math Ch. 12" />
      </ion-item>
      <div class="item item-divider">
        Due Date
      </div>
      <label class="item item-input">
        <span class="input-label">Date</span>
        <input id="assignment-date" type="date"></input>
      </label>
      <div class="item item-divider">
        Description
      </div>
      <ion-item>
        <label class="item-input">
          <textarea placeholder="Optional"></textarea>
        </label>
      </ion-item>
      <button class="button button-full button-balanced" ng-click="closeModal()">Create Assignment</button>
    </div>
  </ion-content>
</ion-modal-view>
