s<ion-view view-title="Homework">
  <ion-content>
    <div ng-controller="accordCtrl">
    <ion-list>
        <div class="">
          <ion-item class="item-icon-right" type="item-text-wrap"
                    ng-click="toggleGroup(group)"
                    ng-class="{active: isGroupShown(group)}">
                    <p class="homename">Overdue</p>
                    <i class="icon icon-accessory" ng-class="isGroupShown(group) ? 'ion-chevron-up' : 'ion-chevron-down'"></i>
          </ion-item>
          <ion-item class="item-accordion"
                    ng-repeat="item in group.items"
                    ng-show="isGroupShown(group)">
                    <a ui-sref="tab.homework.view">
                      <button class="button button-positive">
                        View {{group.name}}'s Assignment
                      </button>
                    </a>
          </ion-item>
        </div>
        <div class="">
          <ion-item class="item-icon-right" type="item-text-wrap"
                    ng-click="toggleGroup(group)"
                    ng-class="{active: isGroupShown(group)}">
                    <p class="homename">This Week</p>
                    <i class="icon icon-accessory" ng-class="isGroupShown(group) ? 'ion-chevron-up' : 'ion-chevron-down'"></i>
          </ion-item>
        </div>
        <div class="">
          <ion-item class="item-icon-right" type="item-text-wrap"
                    ng-click="toggleGroup(group)"
                    ng-class="{active: isGroupShown(group)}">
                    <p class="homename">Next Week</p>
                    <i class="icon icon-accessory" ng-class="isGroupShown(group) ? 'ion-chevron-up' : 'ion-chevron-down'"></i>
          </ion-item>
        </div>
      <div ng-repeat="group in groups">
        <ion-item class="item-avatar item-icon-right" type="item-text-wrap"
                  ng-click="toggleGroup(group)"
                  ng-class="{active: isGroupShown(group)}">
                  <img ng-src="img/avatar-icons/lion.png">
                  <a class="homename" ui-sref="tab.homework.assignment">Homework for {{group.name}}</a>
                  <i class="icon icon-accessory" ng-class="isGroupShown(group) ? 'ion-chevron-up' : 'ion-chevron-down'"></i>
        </ion-item>
      </div>
    </ion-list>
  </div>
  </ion-content>
    <div class="float-button" ng-controller="CreateHomeworkCtrl">
      <span class="height-fix">
        <a class="content" ng-click="openModal()">
          <i class="ion-plus-circled custom-icon"> </i>
        </a>
      </span>
    </div>
</ion-view>
