<ion-view view-title="Homework">
  <ion-content>
    <div>
      <ion-list>
        <div ng-repeat="group in groups">
          <ion-item class="item-avatar item-icon-right" style="padding-left:30px;" type="item-text-wrap" ng-click="toggleGroup(group)" ng-class="{active: isGroupShown(group)}">
            <p class="homename">{{group}}</p>
            <i class="icon icon-accessory" ng-class="isGroupShown(group) ? 'ion-chevron-up' : 'ion-chevron-down'"></i>
          </ion-item>
          <a ui-sref="tab.homework.view"  ng-repeat="assignment in homework.assignments">
            <ion-item  style="padding-left:40px;" class="item-accordion" ng-show="isGroupShown(group)">
                  {{assignment}}
            </ion-item>
          </a>
        </div>
      </ion-list>
    </div>
    <div ng-repeat="child in homework.children">
      <a class="homename" ui-sref="tab.homework.assignment">
        <ion-item class="item-avatar item-icon-right" type="item-text-wrap" ng-click="toggleGroup(group)" ng-class="{active: isGroupShown(group)}">
          <img ng-src="img/avatar-icons/lion.png">
          <h2>{{child}}</h2>
          <i class="icon ion-ios-arrow-right" ng-class="isGroupShown(group) ? 'ion-chevron-up' : 'ion-chevron-down'"></i>
        </ion-item>
      </a>
    </div>
  </ion-content>
  <div class="float-button" ng-controller="CreateHomeworkCtrl">
    <span class="height-fix">
        <a class="content" ng-click="openModal()">
          <i class="ion-plus-circled custom-icon"></i>
        </a>
      </span>
  </div>
</ion-view>
