<ion-view view-title="Homework">
  <ion-content>
    <div>
      <ion-list>
        <div ng-repeat="member in members track by member.id">
          <ion-item class="item-avatar item-icon-right" type="item-text-wrap" ng-click="toggleActive(member.id)" ng-class="{active: activeMembers[member.id]}">
            <img ng-src="img/avatar-icons/001{{$index}}.png">
            <p class="homename">{{group.name}}</p>
            <i class="icon icon-accessory" ng-class="isGroupShown(group) ? 'ion-chevron-up' : 'ion-chevron-down'"></i>
          </ion-item>
          <ion-item class="item-accordion" ng-repeat="item in group.items" ng-show="isGroupShown(group)">
            <a ui-sref="tab.homework.childView">
              <p class="homename">{{item}}</p>
              <i class="icon icon-accessory ion-chevron-right"></i>
            </a>
          </ion-item>
        </div>
      </ion-list>
    </div>
  </ion-content>
  <div class="float-button" ng-controller="CreateHomeworkCtrl">
    <span class="height-fix">
        <a class="content" ng-click="openModal()">
          <i class="ion-plus-circled custom-icon"> </i>
        </a>
      </span>
  </div>
</ion-view>
