<ion-view view-title="View Assignment">
  <ion-content>
    <div class="list">
      <ion-item>
        <h1 class="chorepg">Title:</h1>
        <p class="chorepg">History Study Questions</p>
      </ion-item>
      <ion-item>
        <h1 class="chorepg">Date Due:</h1>
        <p class="chorepg">Monday, October 12th</p>
      </ion-item>
      <ion-item class="item-text-wrap">
        <h1 class="chorepg">Details:</h1>
        <p class="chorepg">History of Historic Things page 100, Reflection Quiz section 4, questions 3-9</p>
      </ion-item>
      <li class="item item-toggle">
        Finished
        <label class="toggle toggle-energized">
          <input type="checkbox">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>
    </div>
  </ion-content>
</ion-view>
