<ion-view view-title="View Assignment">
  <ion-content>
    <div class="list">
      <ion-item>
        <h1 class="chorepg">Title:</h1>
        <p class="chorepg">History Study Questions</p>
      </ion-item>
      <ion-item>
        <h1 class="chorepg">Date Due:</h1>
        <p class="chorepg">Monday, October 12th</p>
      </ion-item>
      <ion-item class="item-text-wrap">
        <h1 class="chorepg">Details:</h1>
        <p class="chorepg">History of Historic Things page 100, Reflection Quiz section 4, questions 3-9</p>
      </ion-item>
      <ion-checkbox class="checkbox-calm">Finished</ion-checkbox>
    </div>
  </ion-content>
</ion-view>
