
<div>
  <div class="card" ng-repeat="task in tasks">
    <div class="item item-divider">
      <a style="background-color:inherit;" class="item item-icon-right clean-link-icon">
        <i class="icon ion-close-round jv-card-delete" ng-click="handleDeleteSubmit(task)"></i>
        <i class="icon ion-archive jv-card-archive" ng-click="handleArchiveSubmit(task)"></i>
        <a class="pointer">{{task.title}}</a>
      </a>
    </div>
    <div class="item item-text-wrap" ng-show="task.subTasks.length">
      <ul class="list">
        <li class="item item-button-right" ng-repeat="subTask in task.subTasks track by $index">
          <div ng-hide="editableSubTasks[task.id][$index]"><ion-checkbox
            style="margin-left:-25px;"
            class="checkbox-balanced"
            ng-model="task.subTasks[$index].completed"
            ng-change="updateTodo(task)"
          >
            <span>{{ subTask.title }}</span>
          </ion-checkbox></div>
          <label>
            <input style="font-size: 16px; height: 52px; background-color: #eee; padding-left: 20px; border-radius: 5px" type="text" ng-show="editableSubTasks[task.id][$index]" ng-model="task.subTasks[$index].title"/>
          </label>
          <button ng-hide="editableSubTasks[task.id][$index]" class="button button-positive task-btn task-btn-left" style="margin: 20px 0" ng-click="makeSubTaskEditable(task, $index, true)">
            <i class="icon ion-edit"></i>
          </button>
          <button ng-show="editableSubTasks[task.id][$index]" class="button button-balanced task-btn task-btn-left" style="margin: 20px 0" ng-click="makeSubTaskEditable(task, $index, false)">
            <i class="icon ion-checkmark-round"></i>
          </button>
          <button class="button button-assertive task-btn" style="margin: 20px 0" ng-click="makeSubTaskEditable(task, $index, false)">
            <i class="icon ion-close-round"></i>
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
