<ion-view name="choreCreate" view-title="Create Chore">
  <ion-content>

    <div class="list">

      <div class="item item-divider">
        People
      </div>

      <ion-checkbox>Karen</ion-checkbox>
      <ion-checkbox>Timothy</ion-checkbox>
      <ion-checkbox>Samantha</ion-checkbox>

      <div class="item item-divider">
        Jobs
      </div>

      <ion-item class="item-input item-select">
        <div class="input-label">
        </div>
        <select>
          <option selected>Option 1</option>
          <option>Option 2</option>
        </select>
      </ion-item>

      <div class="item item-divider">
        Schedule
      </div>

      <div class="button-bar">
      <a class="button">Sun</a>
      <a class="button">Mon</a>
      <a class="button">Tue</a>
      <a class="button">Wed</a>
      <a class="button">Thu</a>
      <a class="button">Fri</a>
      <a class="button">Sat</a>
    </div>

    </div>


  </ion-content>
</ion-view>
