<!-- <ion-view name="choreCreate" view-title="Create Chore">
  <ion-content> -->
<ion-modal-view>
  <ion-content>

    <div class="list">

      <div class="item item-divider">
        People
      </div>

      <ion-checkbox class="checkbox-balanced">Karen</ion-checkbox>
      <ion-checkbox class="checkbox-balanced">Timothy</ion-checkbox>
      <ion-checkbox class="checkbox-balanced">Samantha</ion-checkbox>

      <div class="item item-divider">
        Jobs
      </div>

      <ion-item class="item-input item-select">
        <div class="input-label">
        </div>
        <select>
          <option selected>Option 1</option>
          <option>Option 2</option>
        </select>
      </ion-item>

      <div class="item item-divider">
        Schedule
      </div>

      <div class="button-bar">
        <a class="button button-primary" ng-model="buttonSun" ng-click="buttonSun.clicked=!buttonSun.clicked" ng-class="buttonSun.clicked?'button-balanced':'button-stable'">Sun</a>
        <a class="button button-primary" ng-model="buttonMon" ng-click="buttonMon.clicked=!buttonMon.clicked" ng-class="buttonMon.clicked?'button-balanced':'button-stable'">Mon</a>
        <a class="button button-primary" ng-model="buttonTue" ng-click="buttonTue.clicked=!buttonTue.clicked" ng-class="buttonTue.clicked?'button-balanced':'button-stable'">Tue</a>
        <a class="button button-primary" ng-model="buttonWed" ng-click="buttonWed.clicked=!buttonWed.clicked" ng-class="buttonWed.clicked?'button-balanced':'button-stable'">Wed</a>
        <a class="button button-primary" ng-model="buttonThu" ng-click="buttonThu.clicked=!buttonThu.clicked" ng-class="buttonThu.clicked?'button-balanced':'button-stable'">Thu</a>
        <a class="button button-primary" ng-model="buttonFri" ng-click="buttonFri.clicked=!buttonFri.clicked" ng-class="buttonFri.clicked?'button-balanced':'button-stable'">Fri</a>
        <a class="button button-primary" ng-model="buttonSat" ng-click="buttonSat.clicked=!buttonSat.clicked" ng-class="buttonSat.clicked?'button-balanced':'button-stable'">Sat</a>
      </div>
      </br>
      <button class="button button-full button-balanced" ng-click="closeModal()">Save Chore</button>

    </div>

  </ion-content>
</ion-modal-view>

<!-- </ion-content>
</ion-view> -->
