<ion-view view-title="Chores">
  <ion-content>
    <div>
      <ion-list>
        <div ng-repeat="member in members track by member.id">
          <ion-item class="item-avatar item-icon-right" type="item-text-wrap" ng-click="toggleActive(member.id)" ng-class="{active: activeMembers[member.id]}">
            <img ng-src="img/avatar-icons/001{{$index}}.png">
            <p class="homename">{{member.firstName}}</p>
            <i class="icon icon-accessory" ng-class="activeMembers[member.id] ? 'ion-chevron-up' : 'ion-chevron-down'"></i>
          </ion-item>
          <ion-item class="item-accordion" ng-repeat="chore in member.chores" ng-show="activeMembers[member.id]">
            <a ui-sref="tab.chores.view">
              <button class="button button-clear button-dark">
                {{ chore.title }} - {{ chore.subTasks[0].title }}
              </button>
            </a>
          </ion-item>
        </div>
      </ion-list>
    </div>
  </ion-content>
  <div class="float-button">
    <span class="height-fix">
        <a class="content" ng-click="createModal.show()">
          <i class="ion-plus-circled custom-icon"> </i>
        </a>
      </span>
  </div>
</ion-view>
