<ion-view view-title="Chores">
  <ion-content>
    <div ng-controller="accordCtrl">
      <ion-list>
        <div ng-repeat="group in groups">
          <ion-item class="item-avatar item-icon-right" type="item-text-wrap"
                    ng-click="toggleGroup(group)"
                    ng-class="{active: isGroupShown(group)}">
                    <img ng-src="img/avatar-icons/bull.png">
                    <p class="homename">Chores for  {{group.name}}</p>
                    <i class="icon icon-accessory" ng-class="isGroupShown(group) ? 'ion-chevron-up' : 'ion-chevron-down'"></i>
          </ion-item>
          <ion-item class="item-accordion"
                    ng-repeat="item in group.items"
                    ng-show="isGroupShown(group)">
                    <a ui-sref="tab.chores.view">
                      <button class="button button-positive">
                        View {{group.name}}'s Chores
                      </button>
                    </a>
                    <a ui-sref="tab.chores.create">
                      <button class="button button-positive">
                        Create New Chore for {{group.name}}
                      </button>
                    </a>
          </ion-item>
        </div>
      </ion-list>
    </div>
  </ion-content>
</ion-view>

<div class="float-button">
  <span class="height-fix">
    <a ui-sref="tab.chores.create" class="content">
      <i class="ion-plus-circled custom-icon"> </i>
    </a>
  </span>
</div>
