<ion-view view-title="View Chores">
  <ion-content>



    <div class="list">

<ion-item>
    <h1 class="chorepg">Chore:</h1>
    <p class="chorepg">Sweep the Kitten</p>
</ion-item>

<ion-item>
    <h1 class="chorepg">Days:</h1>
    <p class="chorepg">Monday, Wednesday, Friday</p>
</ion-item>

<ion-item class="item-text-wrap">
    <h1 class="chorepg">Details:</h1>
    <p class="chorepg">The kitten is getting really dirty and no one will sweep it.
    Use the broom with the softest bristles. Make sure to get out all the dirt and don'<td>t
      let the kitten get in the kitchen. Or else you will have to sweep the kitchen.
    </td></p>
</ion-item>

      <li class="item item-toggle">
         Finished
         <label class="toggle toggle-energized">
           <input type="checkbox">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
      </li>

    </div>

  </ion-content>
</ion-view>
