<ion-view view-title="To Do List">
  <ion-content>
    <task-listing
      user="currentUser"
      tasks="todos"
      type="todo"
      show-create="showCreate"
      create-template="templates/todos/create.html"
      main-template="templates/directives/general-list.html"
    ></task-listing>
  </ion-content>
  <div class="float-button">
    <span class="height-fix">
      <a class="content" ng-click="showModal()">
        <i class="ion-plus-circled custom-icon"></i>
      </a>
    </span>
  </div>
</ion-view>
