<ion-view view-title="Todos">
  <ion-content>

    <div class="card">
      <div class="item item-divider">
        Reminders
      </div>
      <div class="item item-text-wrap">
        <ul class="list">
          <li class="item">
              <i class="ion-android-checkbox-outline-blank"></i> kick you</br>
              <i class="ion-android-checkbox-outline-blank"></i> punch you</br>
              <i class="ion-android-checkbox-outline"></i> slap you
          </li>
        </ul>
      </div>
    </div>

    <div class="card">
      <div class="item item-divider">
        I can't
      </div>
      <div class="item item-text-wrap">
        <ul class="list">
          <li class="item">
              <i class="ion-android-checkbox-outline-blank"></i> kick you</br>
              <i class="ion-android-checkbox-outline-blank"></i> punch you</br>
              <i class="ion-android-checkbox-outline"></i> slap you
          </li>
        </ul>
      </div>
    </div>

    <div class="card">
      <div class="item item-divider">
        Why am I doing this to myself
      </div>
      <div class="item item-text-wrap">
        <ul class="list">
          <li class="item">
              <i class="ion-android-checkbox-outline-blank"></i> kick you</br>
              <i class="ion-android-checkbox-outline-blank"></i> punch you</br>
              <i class="ion-android-checkbox-outline"></i> slap you
          </li>
        </ul>
      </div>
    </div>


  </ion-content>
</ion-view>

<div class="float-button">
  <span class="height-fix">
    <a ui-sref="add-trip" class="content">
      <i class="ion-plus-circled custom-icon"> </i>
    </a>
  </span>
</div>
