<ion-modal-view>

  <ion-content>

    <div class="item item-text-wrap">

            <i class="ion-android-checkbox-outline-blank"></i> kick you</br>
            <i class="ion-android-checkbox-outline-blank"></i> punch you</br>
            <i class="ion-android-checkbox-outline-blank"></i> slap you</br>
            <i class="ion-android-checkbox-outline-blank"></i> punch you</br>
            <i class="ion-android-checkbox-outline-blank"></i> punch you</br>
            <i class="ion-android-checkbox-outline-blank"></i> punch you</br>
            <i class="ion-android-checkbox-outline"></i> punch you

    </div>
    <label class="item item-input item-clear">
          <i class="icon ion-plus placeholder-icon"></i>
      <input type="text" placeholder="list item">
    </label>
    <button class="button button-full button-balanced">Save List</button>


  </ion-content>
</ion-modal-view>
