/* add button STYLING */
a{
  text-decoration: none;
}
.float-button {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 30px;
  padding: 30px;
  font-size: 70px;
  background: $warning;
  position: fixed;
  bottom: 60px; /* Adjust to where you want it */
  right: 25px; /* Adjust to where you want it */
  z-index: 9999;
}

.float-button .height_fix {
  margin-top: 100%;
}

.float-button .content {
  position: absolute;
  left: 0;
  top: 50%;
  height: 100%;
  width: 100%;
  text-align: center;
  margin-top: -35px; /* Note, this must be half the font size */
  color: $light;
}

.float-button:hover{
  cursor: pointer;
}

.custom-icon {
  color: #6cc484;
}

/* button animation*/
.chat-item.ng-enter-stagger {
  -webkit-animation-delay:200ms;
  animation-delay:200ms;

  /* override to make sure it's not inherited from other styles */
  -webkit-animation-duration:0;
  animation-duration:0;
}

/* HOME STYLING */
.title-image {padding:2px; width:100px;}
p.homename
  {font-size:20px; padding-top:10px;}

/* dropdown STYLING */
.item-select {
  width: 55%; /* Or whatever you'd like the width to be */
}
.item-select select {
  left: 0;
}


/* homework assignment styling*/
div.boxed {
  width: 30px;
  height: 30px;
  border: solid 2px;
  background-color: lightgrey;
  float:left;

}

div.displayHomework{
  display: inline-block;
  float: left;

}

div.alightleft {
  float:left;
}

div.alightright {
    float:right;
}

/* cREATE Todo/Shopping PAGE STYLING */
h1.listtitle {
  padding:15px 0px 5px 15px;
  font-size: 20px;
  color:#595959;
}

/* VIEW CHORE PAGE STYLING */
h1.chorepg {
  font-size: 20px;
  color:#595959;
}

p.chorepg {
  padding:0px 0px 5px 15px;
  font-size: 15px;
  color:#737373;
}

.logoutHeader{
  text-align:center;
  padding-bottom: 10px;
}

.logoutFooter{
  margin-top: 20vh;
}

.headerBuffer{
  padding-top:20vh;
}

.home-header-image{
  margin-top:7px;
}

.tab-nav.tabs{
  margin-left: -20vw;
}


.tab-nav.tabs a:last-child.tab-item-active{
  border: none;
}

.tabs{
  width:140%;
}
