/* add button STYLING */
.float-button {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 30px;
  padding: 30px;
  font-size: 70px;
  background: $warning;
  position: fixed;
  bottom: 90px; /* Adjust to where you want it */
  right: 25px; /* Adjust to where you want it */
  z-index: 9999;
}

.float-button .height_fix {
  margin-top: 100%;
}

.float-button .content {
  position: absolute;
  left: 0;
  top: 50%;
  height: 100%;
  width: 100%;
  text-align: center;
  margin-top: -35px; /* Note, this must be half the font size */
  color: $light;
}

.custom-icon {
  color: #6cc484;
}
/*.addbutt{position:absolute; z-index:99; right:3%; bottom:8%; width:80px;}

/* button animation*/
.chat-item.ng-enter-stagger {
  -webkit-animation-delay:200ms;
  animation-delay:200ms;

  /* override to make sure it's not inherited from other styles */
  -webkit-animation-duration:0;
  animation-duration:0;
}

/* HOME STYLING */
.title-image {padding:2px; width:100px;}
p.homename
  {font-size:20px; padding-top:10px;}
