<ion-modal-view view-title="Create Todo">
  <ion-content>

    <div class="list">
      <label class="item item-input item-clear">
        <i class="icon ion-plus placeholder-icon"></i>
        <input type="text" placeholder="List Title">
      </label>
      <label class="item item-input item-clear">
        <i class="icon ion-plus placeholder-icon"></i>
        <input type="text" placeholder="list item">
      </label>
    </div>

    <button class="button button-full button-balanced">Save List</button>


  </ion-content>
</ion-modal-view>
